<%- include("partials/header") %>

<!-- CONTENT About Me -->

<section>
  <div class=" container container-fluid" id="aboutmeContainer">
    <h2 id="aboutme">About Me!!</h2>
    <div class="row justify-content-md-center">
      <div class="col-lg-3 col-md-12">
        <img src="img/meee.jpg" alt="meee" class="img-responsive center-block" id="profilePic">
      </div>

        <div class="content col-lg-6 col-md-4" >
        <p>I am a web developer who's always wanting to build websites and applications but not design them!</p>
            <ul>
          <li>I work full-time in an ICT support role, and I love it.</li> 
          <li>I study Computer Science (Software Engineering) online part-time.</li>
          <li>I love cats.</li>
        </ul>

        <p>I am proficient in the following languages;</p>
        <ul>
          <li>Python</li>
          <li>PowerShell</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>JavaScript</li>
        </ul>

        <h3>My Learning Resources</h3>
        <ul>
          <li><a href="https://www.udemy.com/share/101W9CCEodcFhXQXw=/" target="_blank">The Web Developer Bootcamp</a> <i> in progress</i></li>
          <li><a href="https://www.freecodecamp.org/" target="_blank">freeCodeCamp</a><i> in progress</i></li>
          <li><a href="https://www.ecu.edu.au/degrees/courses/bachelor-of-computer-science" target="_blank">Bachelor of Computer Science (Software Engineering)</a><i> in progress</i></li>
        </ul>

      </div>

</div>
  </div>
  

    <!-- Work examples -->

  <div class="container">
    <h2 id="mywork">My Work</h2>
    <p>Here is some of my work! I'll put squares and create links for examples of what I can create (coming soon...but this website is an example!!)</p>
  </div>


    <!-- Contact us -->

    <div class="container" >
      <h2 class="col-lg-12 col-xs-4 text-center" id="contactus">Contact Us</h2>

        </form>
      </div>
    </div>
</section>

<%- include("partials/footer") %>