<!DOCTYPE html>
<html>
    <header>
        <title>Moon Crystals!</title>
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Trade+Winds&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/stylesheets/moonstone.css">

    </header>
    <body>

        <div class="background-container">
            <img id="moon" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/moon2.png" alt="">
            <div class="stars"></div>
            <div class="twinkling"></div>
            <div class="clouds"></div>
        </div>

        <section id="header">
            <h1>Moon Crystals</h1>
        </section>


            <section class="container-fluid px-0">
                
                <div class="row align-items-center" data-aos="fade-up" >
                    <div class="col-lg-6 text-center">
                        <p>Are you tired of having to wait until the full moon to recharge your crystals??</p>
                    </div>
                    <div class="col-lg-6">
                        <img class="img-fluid" id="crystal" src="https://images.unsplash.com/photo-1565004333713-6af4ff067d7d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1306&q=80" alt="">   
                    </div>
            
                    <div data-aos="fade-up">
                <div class="row align-items-center">
                    <div class="col-lg-6 order-lg-1 order-md-2">
                        <img class="img-fluid" src="https://images.unsplash.com/photo-1570288464059-9afc7a4e1e15?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80" alt="">
                    </div>
                    <div class="col-lg-6 text-center order-lg-2 order-md-1">
                        <p>What if you didn't have to wait until the next full moon to charge these crystals??</p>
                    </div>
                </div>
            </div>
                        
                <div class="row align-items-center" data-aos="fade-up">
                    <div class="col-lg-6 text-center">
                        <p>Introducing, MOON CRYSTALS!</p>
                    </div>
                    <div class="col-lg-6">
                        <img class="img-fluid" src="https://images.unsplash.com/photo-1549216011-894fb68ef744?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt="">
                    </div>
                </div>
            
                <div class="row align-items-center" data-aos="fade-up">
                    <div class="col-lg-6 order-lg-1 order-md-2">
                        <img class="img-fluid" src="https://images.unsplash.com/photo-1549858670-d4fb4a5e0e18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">
                    </div>
                    <div class="col-lg-6 text-center order-lg-2 order-md-1">
                        <p>Just charge these under the full moon and it'll work as a portable charger for your other crystals!</p>
                    </div>
                </div>
            

          
                <div class="row align-items-center" data-aos="fade-up">
                    <div class="col-lg-6 text-center">
                        <p>These can be yours for a low price of $9,999.99 it pays for itself! All that moon power you'll be saving!</p>
                    </div>
                    <div class="col-lg-6">
                        <img class="img-fluid" src="https://images.unsplash.com/photo-1553729459-efe14ef6055d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">
                    </div>
                </div>
            </section>

            <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>
            <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

            <script>
                AOS.init({
                    easing: 'ease-out-back',
                    duration: 1000
                });
            </script>
 
    </body>
</html>