<%- include("partials/header") %>

<div class="container" id="notfound">
    <div class="row">
        <div class="col">
        <h2>Error 404</h2>
        <h3><strong><%= word %></strong> doesn't exist!</h3>

        <p>However, not all is lost, please enjoy this bonus picture of Mia!</p>
        <img class="img-fluid" src="/img/Mia.jpg" alt="Mia" id="mia">
        </div>
    </div>
</div>

<%- include("partials/footer") %>