body, html {
    height: 100%;
    margin: 0;
}

#header {
    background-image: url("/img/mm/honey.jpg");
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#header h1 {
    text-align: center;
    font: Bold 153px/185px Script MT;
    letter-spacing: 0.31px;
    color: #160A00;
    text-shadow: 0px 3px 6px #00000029;
    text-transform: capitalize;
    opacity: 1;
    padding-top: 2em;
}